<div class="row">
  <div class="small-12 large-centered columns">
    <div data-magellan-expedition="fixed">
      <dl class="sub-nav">
        <dd data-magellan-arrival="home" class="brand">{{#link-to 'index'}}Trippy{{/link-to}}</dd>
        <dd data-magellan-arrival="map">{{#link-to 'map'}}Map{{/link-to}}</dd>
        <dd data-magellan-arrival="trips">{{#link-to 'trips'}}Trips{{/link-to}}</dd>
        </a></dd>
      </dl>
    </div>
    {{outlet}}
  </div>
</div>
