@import 'bower_components/foundation/scss/normalize';
@import 'bower_components/foundation/scss/foundation/functions';
@import 'bower_components/foundation/scss/foundation';

html, body {
  height: 100%;
}

body {
  div:first-of-type {
    min-height: 100%;
  }

  .brand {
    margin-left: 0;

    a {
      padding-left: 0;
    }
  }
}

.map-container {
  height: 350px;
}
