<div class="row">
  <div class="small-12 large-centered columns">
    {{#zf-magellan}}
      <li class="brand">{{#link-to 'index'}}Trippy{{/link-to}}</li>
      <li>{{#link-to 'map'}}Map{{/link-to}}</li>
      <li>{{#link-to 'trips'}}Trips{{/link-to}}</li>
    {{/zf-magellan}}
    {{outlet}}
  </div>
</div>
