<h2>Trips list</h2>
<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
  <li><button {{action 'createTrip'}}>Create new trip</button></li>
{{#each}}
  <li>Name: {{name}}, Date: {{tripDate}}, Stops/Side-trips: {{point}}</li>
{{/each}}
</ul>
