<h2>New trip</h2>
<div class="row">
  <div class="medium-6 columns">
    <label for='name'>Name
      {{input name='name' value=name}}
    </label>
    <label for='points'>Points
      {{input name='points' value=point}}
    </label>
    <label for='tripDate'>Date
      {{input name='tripDate' value=tripDate}}
    </label>
    <button {{action 'save' this}} class="tiny">Save</button>
  </div>
</div>
